requests==2.33.1
beautifulsoup4==4.11.1
pypdf==6.10.2
tiktoken
nltk==3.9.4
nbformat==5.4.0
nbconvert==7.17.1
yt-dlp
youtube-transcript-api==0.4.1
pyperclip==1.8.2
wget==3.2
tqdm==4.67.3
rich==12.4.4
pandas
openpyxl
xlrd
tabulate
PyYAML
python-dotenv
aiohttp
readability-lxml
lxml
